body {
  text-align: center;
  font-family: 'Architects Daughter', Arial;
  /*background-color: #FFC125;*/
  background-color: #FCE6C9;
}

h2, p {
  color: #030303;
  font-family: 'Lemonada', Arial;
}

.name {
  color: #FF4040;
}

#slideShow {
  height: 200px;
  width: auto;
  /*border: 2px solid black;*/
  border-radius: 5px;
  border: 5px solid #EE1289;
  box-shadow: 8px 8px 8px gray;
}

/*#slideShow {
  border: 5px solid red;
  box-shadow: 5px 5px gray;
}*/

.index {
  height: 1.25em;
  width: 1.25em;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 1em;
  margin-left: 0.5em;
  box-shadow: 4px 4px 4px gray;
}

.special {
  background-color: #00F5FF;
}

button {
  background-color: #00F5FF;
  margin: 2em;
  height: 3em;
  width: auto;
  box-shadow: 5px 5px 4px gray;
  border-radius: 8px;
}

span {
  height: 1.5em;
  width: 1.5em;
}

#timeHolder {
  height: 2em;
  width: auto;
}
